* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

a,
a:link,
a:visited,
a:focus,
a:hover,
a:active {
  color: #6070ff;
  cursor: pointer;
}

:root {
  --color-white: #fff;
  --color-light: #7f8cff;
  --color-light-dark: #6070ff;
  --color-dark: #172b4d;
  --color-dark-variant: #344563;
  --transition: all 400ms ease;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #f0f0f0;
  line-height: 1.7;
}

/* -------------------------------Styling the Nav Bar-------------------------------- */
.parent-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  color: var(--color-light-dark);
  background: var(--color-white);
  font-weight: 700;
  font-size: 18px;
}

.flex-item-1 {
  width: 50%;
  padding: 12px 24px;
}

.header nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header nav a {
  padding-right: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.flex-item-2 {
  width: 50%;
}

/* -- -------------------------------Styling the Home Page---------------------------------- -- */
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-container,
.home-page-details {
  gap: 114px;
}

.home-page-details {
  margin: 0 24px;
}

.main-page {
  background: url('images/background-header.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom-left-radius: 80px;
}

h1 {
  padding: 114px 0 12px;
}

/* ----universal styling---- */
h1,
.about-myself-heading {
  font-size: 40px;
  font-weight: 700px;
  line-height: 52px;
  color: var(--color-dark);
}

.about-me-text,
.about-myself-text {
  font-weight: 400;
  color: var(--color-dark-variant);
}

.social-links-heading {
  color: var(--color-light);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.about-me-text {
  padding-bottom: 12px;
}

/* Styling the social media icons */
.social-links h2 {
  margin-bottom: 12px;
}

.social-links-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.social-links {
  padding-bottom: 114px;
}

section ul .linked-in,
.message,
.cat-icon,
.thumbs-up,
.twitter {
  width: 30px;
  height: 30px;
}

/* -- -------------------------------Styling the Works Section---------------------------------- -- */
.work-section {
  display: grid;
  grid-template-rows: auto auto auto auto;
  gap: 88px;
}

.grid-item-1 {
  margin-top: 114px;
}

.grid-item {
  background-color: var(--color-white);
  margin: 0 24px;
  border: 1px solid #e0e0e0;
  border-radius: 16px;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  padding: 16px;
}

.works-image {
  width: 100%;
}

.work-title {
  font-size: 32px;
  line-height: 44px;
  font-weight: 700;
  color: var(--color-dark);
}

.card-container ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.h3-common-styles {
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
}

.work-client {
  color: var(--color-dark-variant);
}

.work-role,
.work-year {
  color: #7a869a;
}

.work-description {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: var(--color-dark-variant);
}

.works-btn {
  float: left;
  margin-right: 8px;
  padding: 4px 12px;
  background: #ebebff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  color: var(--color-light-dark);
}

.works-btn:hover {
  color: #fff;
  background-color: #6070ff;
  transition: var(--transition);
}

.works-btn:active {
  color: #fff;
  background-color: #1d1d9e;
}

.see-project-btn {
  padding: 12px 16px 12px 16px;
  border: 1px solid var(--color-light-dark);
  border-radius: 8px;
  color: #396df2;
  font-weight: 500;
  font-size: 17px;
  margin-bottom: 12px;
}

.see-project-btn:hover {
  color: #fff;
  background-color: #6070ff;
  transition: var(--transition);
}

.see-project-btn:active {
  color: #fff;
  background-color: #1d1d9e;
}

/* -- -------------------------------Styling The About Myself Section---------------------------------- -- */
.about-myself {
  background: var(--color-white);
  border-top-right-radius: 80px;
}

.about-myself-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
  padding: 114px 24px 0 24px;
}

.about-myself-details {
  padding-left: 24px;
}

.flex-item {
  margin-bottom: 12px;
}

.languages-heading {
  color: #000;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
}

.language-name {
  color: #253858;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
}

.languages-container {
  min-width: 375px;
  padding-bottom: 114px;
}

.lang-heading {
  font-size: 20px;
  font-weight: 500;
  color: #000;
}

.lang-name {
  font-size: 15px;
  font-weight: 500;
  color: #253858;
}

.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
  padding: 24px;
}

.list-item-icon {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  padding: 12px;
  background: #f7f7f9;
  border-radius: 8px;
  margin-bottom: 12px;
}

.set-border {
  border-top: 1px solid #dedef7;
  border-bottom: 1px solid #dedef7;
}

.margin-reset {
  margin-bottom: 0;
}

.languages-wraper {
  padding: 12px;
}

/* -- -------------------------------Styling The Contact Page Section---------------------------------- -- */

.contact-page {
  min-width: 100%;
  min-height: 100vh;
  padding: 103px 24px 45px 24px;
  border-top-left-radius: 80px;
  background-image: url(images/Contact-me-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--color-white);
}

.contact-flex-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.contact-heading {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
}

.contact-text {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  padding: 12px;
}

.contact-form li input {
  width: 100%;
  height: 48px;
  margin-bottom: 12px;
  padding: 12px;
  border: none;
  border-radius: 8px;
}

.contact-form li textarea {
  width: 100%;
  height: 170px;
  margin-bottom: 4px;
  padding: 12px;
  border: none;
  border-radius: 8px;
}

.contact-btn-hover:hover {
  color: #fff;
  background-color: var(--color-dark);
  transition: var(--transition);
}

.contact-btn-hover:active {
  color: #fff;
  background-color: var(--color-dark-variant);
  transition: var(--transition);
}

/* -- -------------------------------Media Quries Mobile Version---------------------------------- -- */
@media all and (max-width: 600px) {
  nav {
    padding: 10px 12px;
    width: 100%;
  }

  nav ul li {
    margin: 4px 12px;
  }
}
